node-red/meteorologi.json
[{"id":"ff4c3a08.88c5f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"20943fd0.273ca","type":"mqtt-broker","name":"18-server","broker":"192.168.10.18","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"svar","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f275be25.717b6","type":"ui_group","name":"Kontroll","tab":"7dfa1499.5c862c","order":1,"disp":true,"width":"3","collapse":false,"info":"msg.payload==\"batt1/bryter/off\""},{"id":"7dfa1499.5c862c","type":"ui_tab","name":"Kontroll","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"188bbe88.906521","type":"mqtt-broker","name":"16-server","broker":"192.168.10.16","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9d32434a.7cbbc","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b7c53a78.490738","type":"mqtt-broker","name":"localhost","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9194170d.e9eec8","type":"ui_group","name":"Variable","tab":"7dfa1499.5c862c","order":3,"disp":true,"width":"6","collapse":false},{"id":"dc7561a9.aa81","type":"ui_tab","name":"Temp1","icon":"dashboard","disabled":false,"hidden":false},{"id":"c6c0e9c.257d118","type":"ui_group","name":"Temp1","tab":"7dfa1499.5c862c","order":2,"disp":true,"width":"3","collapse":false},{"id":"70e0e5c.3aee71c","type":"MySQLdatabase","name":"metorologi","host":"192.168.10.18","port":"3306","db":"metorologi","tz":""},{"id":"235d39b2.b240a6","type":"mqtt in","z":"ff4c3a08.88c5f8","name":"","topic":"meteorologi/Temp","qos":"2","datatype":"auto","broker":"b7c53a78.490738","x":300,"y":240,"wires":[["fb9deba6.735fb8","2a9fc885.b49878"]]},{"id":"6c129413.d554bc","type":"debug","z":"ff4c3a08.88c5f8","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"topic","statusType":"msg","x":660,"y":860,"wires":[]},{"id":"19f7737f.a9dacd","type":"mqtt in","z":"ff4c3a08.88c5f8","name":"","topic":"meteorologi/Pres","qos":"2","datatype":"auto","broker":"188bbe88.906521","x":300,"y":360,"wires":[["818a0e91.b353c"]]},{"id":"fb9deba6.735fb8","type":"ui_gauge","z":"ff4c3a08.88c5f8","name":"Temp","group":"f275be25.717b6","order":4,"width":"0","height":"0","gtype":"gage","title":"Temperatur","label":"units","format":"{{value}}","min":"-20","max":"50","colors":["#fa0000","#e6e600","#ca3838"],"seg1":"0","seg2":"0","x":670,"y":240,"wires":[]},{"id":"85d74295.9ec07","type":"mqtt in","z":"ff4c3a08.88c5f8","name":"","topic":"meteorologi/Hum","qos":"2","datatype":"auto","broker":"188bbe88.906521","x":330,"y":480,"wires":[["31886de5.3282a2"]]},{"id":"818a0e91.b353c","type":"ui_gauge","z":"ff4c3a08.88c5f8","name":"Trykk","group":"f275be25.717b6","order":3,"width":"0","height":"0","gtype":"gage","title":"Trykk","label":"units","format":"{{value}}","min":"700","max":"1200","colors":["#0044b3","#e6e600","#00fa00"],"seg1":"900","seg2":"1000","x":660,"y":360,"wires":[]},{"id":"31886de5.3282a2","type":"ui_gauge","z":"ff4c3a08.88c5f8","name":"Fuktighet","group":"f275be25.717b6","order":5,"width":"0","height":"0","gtype":"gage","title":"Fuktighet","label":"units","format":"{{value}}","min":0,"max":"110","colors":["#00fa00","#fae900","#6c59b1"],"seg1":"80","seg2":"95","x":660,"y":460,"wires":[]},{"id":"ff34b260.59853","type":"mqtt in","z":"ff4c3a08.88c5f8","name":"","topic":"meteorologi1/#","qos":"2","datatype":"auto","broker":"b7c53a78.490738","x":280,"y":940,"wires":[["6c129413.d554bc"]],"info":"msg.payload='INSERT INTO sensorer (sensor) VALUES (\"Temp\")';"},{"id":"83927300.8829d","type":"YouTube Channels","z":"ff4c3a08.88c5f8","config":"","part":"snippet","categoryId":"","forUsername":"","channelIds":"","managedByMe":"","mine":"","mySubscribers":"","maxResults":5,"onBehalfOfContentOwner":"","pageToken":"","name":"","x":410,"y":1220,"wires":[[]]},{"id":"62b80dc2.ec8e64","type":"ui_text","z":"ff4c3a08.88c5f8","group":"9194170d.e9eec8","order":1,"width":0,"height":0,"name":"Fil","label":"FIl","format":"{{msg.payload}}","layout":"row-left","x":650,"y":580,"wires":[]},{"id":"2d2bdd35.4dfd92","type":"ui_text","z":"ff4c3a08.88c5f8","group":"9194170d.e9eec8","order":2,"width":0,"height":0,"name":"Versjon","label":"Versjon:","format":"{{msg.payload}}","layout":"row-left","x":670,"y":640,"wires":[]},{"id":"e36a48ea.07ba58","type":"mqtt in","z":"ff4c3a08.88c5f8","name":"","topic":"meteorologi/fil","qos":"2","datatype":"auto","broker":"b7c53a78.490738","x":350,"y":580,"wires":[["62b80dc2.ec8e64"]]},{"id":"790298b0.e04c68","type":"mqtt in","z":"ff4c3a08.88c5f8","name":"","topic":"meteorolgo/versjon","qos":"2","datatype":"auto","broker":"b7c53a78.490738","x":370,"y":640,"wires":[["2d2bdd35.4dfd92"]]},{"id":"9960e791.bb1258","type":"mqtt in","z":"ff4c3a08.88c5f8","name":"","topic":"meteorologi/hoyde","qos":"2","datatype":"auto","broker":"b7c53a78.490738","x":370,"y":540,"wires":[["dda20934.d683b8"]]},{"id":"dda20934.d683b8","type":"ui_text","z":"ff4c3a08.88c5f8","group":"9194170d.e9eec8","order":3,"width":0,"height":0,"name":"","label":"Høyde","format":"{{msg.payload}}","layout":"row-left","x":640,"y":540,"wires":[]},{"id":"44f1f9e9.93fc58","type":"mqtt in","z":"ff4c3a08.88c5f8","name":"","topic":"meteorologi1/Temp","qos":"2","datatype":"auto","broker":"b7c53a78.490738","x":930,"y":260,"wires":[["958247f7.e1bac8"]]},{"id":"2ac81787.9b2268","type":"mqtt in","z":"ff4c3a08.88c5f8","name":"","topic":"meteorologi1/Pres","qos":"2","datatype":"auto","broker":"188bbe88.906521","x":940,"y":380,"wires":[["79ac3212.e40e1c"]]},{"id":"958247f7.e1bac8","type":"ui_gauge","z":"ff4c3a08.88c5f8","name":"Temp","group":"c6c0e9c.257d118","order":4,"width":"0","height":"0","gtype":"gage","title":"Temperatur","label":"units","format":"{{value}}","min":"-20","max":"50","colors":["#fa0000","#e6e600","#ca3838"],"seg1":"0","seg2":"0","x":1300,"y":260,"wires":[]},{"id":"e50090b4.b03df","type":"mqtt in","z":"ff4c3a08.88c5f8","name":"","topic":"meteorologi1/Hum","qos":"2","datatype":"auto","broker":"188bbe88.906521","x":970,"y":500,"wires":[["26385376.0346dc"]]},{"id":"79ac3212.e40e1c","type":"ui_gauge","z":"ff4c3a08.88c5f8","name":"Trykk","group":"c6c0e9c.257d118","order":3,"width":"0","height":"0","gtype":"gage","title":"Trykk","label":"units","format":"{{value}}","min":"700","max":"1200","colors":["#0044b3","#e6e600","#00fa00"],"seg1":"900","seg2":"1000","x":1290,"y":380,"wires":[]},{"id":"26385376.0346dc","type":"ui_gauge","z":"ff4c3a08.88c5f8","name":"Fuktighet","group":"c6c0e9c.257d118","order":5,"width":"0","height":"0","gtype":"gage","title":"Fuktighet","label":"units","format":"{{value}}","min":0,"max":"110","colors":["#00fa00","#fae900","#6c59b1"],"seg1":"80","seg2":"95","x":1290,"y":480,"wires":[]},{"id":"5c0ed9cd.2fb128","type":"tcp out","z":"ff4c3a08.88c5f8","host":"192.168.10.18","port":"3306","beserver":"client","base64":false,"end":false,"name":"18-server","x":820,"y":960,"wires":[]},{"id":"da6df5c9.772248","type":"mysql","z":"ff4c3a08.88c5f8","mydb":"70e0e5c.3aee71c","name":"metorologi","x":580,"y":960,"wires":[["5c0ed9cd.2fb128"]]},{"id":"2a9fc885.b49878","type":"debug","z":"ff4c3a08.88c5f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":680,"y":160,"wires":[]},{"id":"6314e988.ad6478","type":"ui_text","z":"ff4c3a08.88c5f8","group":"9194170d.e9eec8","order":2,"width":0,"height":0,"name":"Spenning","label":"Spennng","format":"{{msg.payload}}","layout":"row-left","x":1260,"y":600,"wires":[]},{"id":"10dfad6a.0cba33","type":"debug","z":"ff4c3a08.88c5f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1320,"y":540,"wires":[]},{"id":"65f0e2e6.7918dc","type":"mqtt in","z":"ff4c3a08.88c5f8","name":"","topic":"meteorologi1/spenning","qos":"2","datatype":"auto","broker":"188bbe88.906521","x":980,"y":580,"wires":[["10dfad6a.0cba33","6314e988.ad6478"]]}]