node-red/metorolgi.json
[{"id":"ff4c3a08.88c5f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"235d39b2.b240a6","type":"mqtt in","z":"ff4c3a08.88c5f8","name":"","topic":"metrologi/Temp","qos":"2","datatype":"auto","broker":"20943fd0.273ca","x":290,"y":240,"wires":[["6c129413.d554bc","fb9deba6.735fb8"]]},{"id":"6c129413.d554bc","type":"debug","z":"ff4c3a08.88c5f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":120,"wires":[]},{"id":"19f7737f.a9dacd","type":"mqtt in","z":"ff4c3a08.88c5f8","name":"","topic":"metrologi/Pres","qos":"2","datatype":"auto","broker":"20943fd0.273ca","x":290,"y":360,"wires":[["818a0e91.b353c","6c129413.d554bc"]]},{"id":"fb9deba6.735fb8","type":"ui_gauge","z":"ff4c3a08.88c5f8","name":"","group":"f275be25.717b6","order":3,"width":0,"height":0,"gtype":"gage","title":"Temperatur","label":"units","format":"{{value}}","min":"-10","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":240,"wires":[]},{"id":"85d74295.9ec07","type":"mqtt in","z":"ff4c3a08.88c5f8","name":"","topic":"metrologi/Hum","qos":"2","datatype":"auto","broker":"20943fd0.273ca","x":330,"y":480,"wires":[["31886de5.3282a2","6c129413.d554bc"]]},{"id":"818a0e91.b353c","type":"ui_gauge","z":"ff4c3a08.88c5f8","name":"","group":"f275be25.717b6","order":4,"width":0,"height":0,"gtype":"gage","title":"Trykk","label":"units","format":"{{value}}","min":"950","max":"1070","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":660,"y":360,"wires":[]},{"id":"31886de5.3282a2","type":"ui_gauge","z":"ff4c3a08.88c5f8","name":"","group":"f275be25.717b6","order":5,"width":0,"height":0,"gtype":"gage","title":"Fuktighet","label":"units","format":"{{value}}","min":0,"max":"110","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":660,"y":460,"wires":[]},{"id":"20943fd0.273ca","type":"mqtt-broker","z":"","name":"18-server","broker":"192.168.10.18","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"svar","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f275be25.717b6","type":"ui_group","z":"","name":"Kontroll","tab":"7dfa1499.5c862c","disp":true,"width":"6","collapse":false,"info":"msg.payload==\"batt1/bryter/off\""},{"id":"7dfa1499.5c862c","type":"ui_tab","z":"","name":"Kontroll","icon":"dashboard","order":1,"disabled":false,"hidden":false}]